name: atlas-cmms
services:
  api:
    image: intelloop/atlas-cmms-backend
    depends_on:
      - minio
    volumes:
      - './logo:/app/static/images'
    environment:
      DB_URL: 10.0.1.1/atlas_cmms
      DB_USER: ${POSTGRES_USER}
      DB_PWD: ${POSTGRES_PWD}

      PUBLIC_API_URL: ${PUBLIC_API_URL}
      PUBLIC_FRONT_URL: ${PUBLIC_FRONT_URL}
      PUBLIC_MINIO_ENDPOINT: ${PUBLIC_MINIO_ENDPOINT}

      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-prod}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}

      MINIO_ENDPOINT: http://minio:9000
      MINIO_BUCKET: atlas-bucket
      MINIO_ACCESS_KEY: ${MINIO_USER}
      MINIO_SECRET_KEY: ${MINIO_PASSWORD}
      STORAGE_TYPE: ${STORAGE_TYPE:-minio}

  frontend:
    image: intelloop/atlas-cmms-frontend
    depends_on:
      - api
    environment:
      API_URL: ${PUBLIC_API_URL}
      PUBLIC_API_URL: ${PUBLIC_API_URL}
      NODE_ENV: production

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    volumes:
      - minio_data:/data
    command: server --address ":9000" --console-address ":9001" /data

volumes:
  minio_data:
